body {
  font-family: sans-serif;
  background-color: brown;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-height: 100px;
  max-width: 100px;
  border-radius: 5px;
  margin-right: 10px;
}

/* h1 {
  background-color: white;
  box-sizing: content-box; width: 100%; border: solid black 10px;
  display: inline;
  color: blue;
} */


/* #mainHeader {
  background-color: white;
  box-sizing: content-box; width: 100%; border: solid black 10px;
  display: inline;
  color: blue;
} */

/* #navBar {
  background-color: white;
  box-sizing: content-box; width: 100%; border: solid black 10px;
  display: inline;
  color: blue;
} */

